/* 
    Document   : Shopping
    Created on : 3 Oct, 2013, 10:21:52 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/** {
   margin: 0px;
   padding: 0px;
}*/

.Fullpage {
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: 0px;
       
}

.Search {
    width: auto;
    height: 100px;
    /*background-color: blueviolet;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1;
    /*background: #01162d;*/
    background: url("../images/header5.jpg") center;
    background-size:  1650px auto;
    
}

#searchinput {
    width: 560px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30%;
    border: none;
    float: left;
}

#searchbutton {
    background-color: #3bc5dd;
    color: white;
    border: none;
    margin-top: 20px;
    height: 32px;
    cursor: pointer;
    float: left;
    
}

#searchbutton:hover {
    background-color: #2ab4b5;
}

.Search table {
    float: left; 
    /*margin: 25px 0px 0px 50px;*/
}

#log {
    color: #D1D1D1;
    clear: both;
    float: right;
    margin-right: 6%;
    font: normal 16px 'Segoe UI', Arial,Verdana;
}

#login:hover,#signup:hover {
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}

#loginfailed {
    color: red;
}

#registersuccess {
    color: #02bc06;
}

#registerfailure {
    color: red;
}

.Menu {
    width: 906px;
    height: 40px;
    background-color: #1a3e52;
/*    position: absolute;*/
    margin-top: 80px;
    margin-left: 20%;
/*    right: 80%;
    left:20%;*/
    border-radius: 6px;
    
}

.Menu table {
    color: #F5F5F5;
    font-family: arial;
    font-size: 13px;
    margin-left: 13px;
    margin-top: 7px;
    
}

#electronics {
    font: 12px Verdana,Geneva,sans-serif;
    position: fixed;
    top: 100px;
    width: 224px;
    z-index: 1;
    left: 20%;
    top: 120px;
    border-radius: 6px;
    background-color: #1a3e52;
}

#menuelectronics:hover {
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}

#clickmobiles:hover {
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}   

.Cart img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -19px;
}

.Cart {
    width: 179px;
    height: 26px;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 6px;
    background-color: tomato;
    float: right;
    font-family: arial;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
}



.Cart:hover {
    background-color: #fef416; 
    cursor: pointer;
    
}



.Body {
    width: auto;
    height: 2500px;
    margin-top: 100px; 
    margin-left: 100px;
    margin-right: 100px;        
    background-color: tomato;
    top: 20%;
    padding: 80px 50px;
/*    background: url("../images/onlineshopping.jpg") center;
    background-size: 2500px auto;*/
}

.Footer {
    background-color: #888888;
/*    height: 300px;
    width: auto;*/
    float: bottom;
}

.ImageContain {
/*    width: 730px;
    height: 390px;*/
    float: left;
}

.ImageBox {
    /*margin: 50px 0px 0px 70px;*/
    width: 730px;
    height: 340px;
    background-color: black;
    float: top;
    box-shadow: 0px 0px 8px 4px #888888;
    background-repeat: no-repeat;
    overflow: hidden;
    
    /*margin-top:200px;*/
}

.ImageBox #special {
    width: auto;
    height: 100%;
}

/*.ImageBox img {
    width: 730px;
    height: 340px;
}*/

.ImageSelect {
/*    margin-left: 70px;
    margin-top: 350px;*/
    width: 243px;
    height: 40px;
    float: left;
    background-color: #2ab4b5;
    position: relative;
    margin-top: -39px; 
}

.ImageSelect:hover {
    background-color: whitesmoke;
    border-bottom: yellow 5px solid; 
    height: 35px;
       
}

.ImageSelect2 {
/*    margin-top: 350px;
    margin-left: 313px;*/
    width: 243px;
    height: 40px;
    float: left;
    background-color: yellow;
    /*position: absolute;*/
}

.ImageSelect2:hover {
    background-color: whitesmoke;
    border-bottom: yellow 5px solid; 
    height: 35px;
       
}

.ImageSelect3 {
/*    margin-top: 350px;
    margin-left: 556px;*/
    width: 244px;
    height: 40px;
    float: left;
    background-color: violet;
    /*position: absolute;*/
}

.ImageSelect3:hover {
    background-color: whitesmoke;
    border-bottom: yellow 5px solid; 
    height: 35px;
       
}

.Guarantee {
    /*margin: 50px 0px 0px 900px;*/
    width: 301px;
    height: 2000px;
    position: relative;
    float: right;
    background-color: teal;
    margin-top: -1106px;
    overflow: hidden;
}

.GauranteeDescription {
    width: 298px;
    /*height: 19px;*/
    float: left;
    border: 1px solid #D0D0D0;
    text-align: center;
    padding: 20px 0px;
    font-family: sans-serif;
    font-weight: 600;   
    font-size: 95%;
}

.GauranteeImage {
    width: 120px;
    height: 64px;
    float: left;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    text-align: center;
    padding: 10px 0px;
    
}

.GauranteeImage #satisfaction {
    width: 75px;
    height: 52px;
    
}

.GauranteeImage #return,#cash {
    width: 60px;
    height: 60px;
}

.GauranteeImage #original {
    width: 75px;
    height: 60px;
}

.GauranteeContent {
    width: 178px;
    height: 61px;
    float: right;
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding-top: 23px;
    text-align: left;
    font-family: sans-serif;
    font-weight: 300;   
    font-size: 85%;
}

.DisplayBox {
    float: bottom;
    width: 761px;
    
    /*width: 730px;*/
/*    padding-top:30px;*/
}

.ImageList {
    /*width: 765px;*/
    height: 225px;
    background-color: white;
    float: left;
    /*margin: 22px 0px 0px 70px;*/
    position: relative;
    margin-top: 30px;
}

.ImageList img {
    float: left;
}

.SubImage {
    width: 225px;
    height: 225px;
    background-color: violet;
    float: left;
    
    /*padding-right: 18px;*/
    margin-right: 28px;

}

.blackbox {
    width: 195px;
    height: 195px;
    background-color: black;
    z-index: 1;
    opacity: .5;
    color: white;
    /*font-weight: 600;*/
    font: normal 600 22px Verdana, Geneva, sans-serif;
    padding: 15px;
}

#clothing {
    background: url("../images/clothing.jpg") center;
    background-size: auto 225px;
}

#footwear {
    background: url("../images/footwear.jpg") center;
    background-size: auto 225px;
}

#watches {
    background: url("../images/watches.jpg") center;
    background-size: auto 225px;
}

#mobiles {
    background: url("../images/mobiles.jpg") center;
    background-size: auto 225px;
}

#cameras {
    background: url("../images/cameras.jpeg") center;
    background-size: auto 225px;
}

#kitchen {
    background: url("../images/kitchen.jpg") center;
    background-size: auto 225px;
}

#tablets {
    background: url("../images/tablets.jpeg") center;
    background-size: auto 225px;
}

#living {
    background: url("../images/living.jpeg") center;
    background-size: auto 225px;
}

#tvshows {
    background: url("../images/tvshows.jpg") center;
    background-size: auto 225px;
}

#laptops {
    background: url("../images/laptops.jpg") center;
    background-size: auto 225px;
}

#music {
    background: url("../images/music.jpg") center;
    background-size: auto 225px;
}

#games {
    background: url("../images/games.jpg") center;
    background-size: auto 225px;
}

.Caption {
    float: bottom;
    width: 215px;
    height: 33px;
    text-align: left;
    background-color: #D0D0D0;
    opacity: 0.7;
    position:absolute;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 600;   
    font-size: 85%;
}

.Caption img {
     float: right;
     padding-right: 8px;
}

.display { height: 300px; width: auto;float:right;margin-right: 100px;}
.display img { padding: 15px; border: 1px solid #ccc; background-color: #eee; }










